#emoji {
  position: relative;
  svg {
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
  }
  .emoji-picker-react {
    position: absolute;
    top: -330px;
    left: 0;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
    .emoji-scroll-wrapper::-webkit-scrollbar {
      background-color: #080420;
      width: 5px;
      &-thumb {
        background-color: #9a86f3;
      }
    }
    .emoji-categories {
      button {
        filter: contrast(0);
      }
    }
    .emoji-search {
      background-color: transparent;
      border-color: #9a86f3;
    }
    .emoji-group:before {
      background-color: #080420;
    }
  }
}

.listUser {
  nav {
    padding: 6px 0;
  }
}

#box-tooltip:hover #icon-Remove {
  display: block;
}

//loadding chat



.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 12px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(207, 207, 207);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



.Dlalog-content{
  text-align: center;
  color: white;
  .icon{
    color: yellow;
  }
  .content2{
    color: red;

  }
}
.Dlalog-button{
 display: flex;
 justify-content: center !important;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(218, 212, 212); 
  border-radius: 10px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #b30000; 
// }